.tillana-regular {
    font-family: "Tillana", system-ui;
    font-weight: 400;
    font-style: normal;
}

.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body, main{
    width: 100vw;
    height: 100%;
    background-color: #ffbb00;
    color: rgb(39, 39, 39);
    overscroll-behavior: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/main-tp.png");
    background-size:cover;
}

.blog-area {
    position: absolute;
    top: 70%;
    left: 10%;
    display: flex;

}

.pen-image {
    background: url("assets/pen.png");
    position: absolute;
    top: -42%;
    left: -27%;
    height: 100%;
    width: 64%;
    background-size:contain;
    background-repeat: no-repeat;
}

.blog-link {
    font-family: "kalam-light";
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top:10%;
    left: 15%;
}

.blog-link > span > a {
    color: rgb(33, 33, 33);
    text-decoration: none;
}

.text1 {

}

.text2 {
    position: relative;
    top: -3.5rem;
    left: 3rem;
}

.hero-text-area {
    width: 20vw;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 85%;
}

.hero-text1 {
    color: #344b2a;
    font-family: "Fugaz One";
    
}

.hero-text2 {
    color: #858496;
    font-family: "Fugaz One";
    position: absolute;
    top: 55%;
    left: -5%;
}

.social-media-links {
    font-family: roboto;
    font-size: 1rem;
    position: absolute;
    top: 150%;
    left: -25%;
}